/**
 * @file
 * Styles for the panels_stacktab module.
 *
 * This control should always be visible as a stack to screenreaders; but should
 * _visually_ change between a stack and a set of tabs depending on the screen
 * width.
 */

/*
 * Stack mode.
 *
 * Note this is the default mode for the control if JavaScript is not available
 * to add the 'stackmode' or 'tabmode' classes.
 */

.panels_stacktab ul[role="tablist"],
.panels_stacktab.stackmode ul[role="tablist"] {
  display: none;
}

/*
 * Tab mode.
 */

.panels_stacktab.tabmode ul[role="tablist"] {
  display: block;
}

.panels_stacktab.tabmode section[role="tabpanel"][aria-hidden="true"] {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important; /* csslint allow: important */
  width: 1px;
  word-wrap: normal;
}
